.chat {
    background: var(--chat-background-color)
}

.chat .empty-chat {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.chat .empty-chat span {
    color: var(--form-input-font-color);
    background: var(--chat-top-background);
    padding: 10px;
    border-radius: 37px
}

.chat .item .content .container {
    padding-right: 0;
    padding-left: 0;
    max-width: 100%
}

.chat .item {
    display: flex
}

.chat .item>.content {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    flex: 1
}

.chat .item .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    background: var(--chat-top-background);
    height: 100px;
    max-height: 100px
}

.chat .top .headline {
    display: flex;
    align-items: center;
    cursor: pointer
}

.chat .item .top img {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    margin-right: 15px
}

.chat .item .top h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px
}

.chat .item .top span {
    display: block;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    color: var(--form-input-font-color)
}

.chat .item .top span.active {
    color: var(--active-radio-color)
}

.chat .item .top ul>li button i::before {
    color: var(--chat-top-icon-color);
    font-size: 25px
}

.chat .item .top ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0
}

.chat .item .top ul>li button {
    outline: 0
}

.chat .item .top ul>li .eva {
    width: 28px;
    height: 28px;
    fill: var(--icon-color);
    transition: all .3s
}

.chat .item .top ul>li button {
    background: 0 0;
    border: none;
    padding: 0
}

.chat .item .middle {
    display: flex;
    height: calc(100vh - 204px);
    overflow-x: hidden;
    overflow-y: auto
}

.chat .item .middle::-webkit-scrollbar {
    background: var(--chat-scrollbar-color);
    width: 4px
}

.chat .item .middle::-webkit-scrollbar-track {
    background: var(--chat-scrollbar-track-color)
}

.chat .item .middle::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--chat-scrollbar-thumb-color)
}

.chat .item .middle {
    overflow: -moz-scrollbars-none
}

.chat .item .middle {
    scrollbar-width: none
}

.chat .item .middle .container {
    padding: 30px 20px
}

.chat .item .middle>div {
    margin-top: auto
}

.chat .item .middle ul {
    padding: 30px 0;
    list-style: none;
    margin-bottom: 0
}

.chat .item .middle ul>li.odd {
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start
}

.chat .item .middle ul>li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: right;
    margin-top: 30px
}

.chat .item .middle ul>li.odd img {
    margin-right: 15px;
    margin-left: 0;
    order: 1
}

.chat .item .middle ul>li img {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    margin-left: 15px;
    order: 2
}

.chat .item .middle ul>li.odd .content {
    order: 2
}

.chat .item .middle ul>li .content {
    display: flex;
    flex-direction: column;
    order: 1
}

.chat .item .middle ul>li .message.downloadable {
    cursor: pointer
}

.chat .item .middle ul>li.odd .bubble {
    border-radius: 0 15px 15px 15px;
    background: linear-gradient(148deg, var(--chat-odd-message-gradient-color-1), var(--chat-odd-message-gradient-color-2))
}

.chat .item .middle ul>li .bubble {
    display: inline-block;
    max-width: 360px;
    text-align: left;
    background: linear-gradient(146deg, var(--chat-self-message-gradient-color-1), var(--chat-self-message-gradient-color-2));
    border-radius: 15px 0 15px 15px
}

.chat .item .middle ul>li.odd p {
    color: var(--chat-message-font-color)
}

.chat .item .middle ul>li p {
    padding: 15px 20px;
    color: var(--chat-message-font-color)
}

.chat .item .middle ul>li p span {
    text-align: center;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid var(--chat-message-font-color);
    margin-top: 0;
    margin-right: 10px
}

.chat .item .middle ul>li p .eva {
    fill: var(--chat-message-font-color)
}

.chat .item .middle ul>li span {
    display: block;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    color: #bdbac2;
    margin-top: 15px
}

.chat .item .bottom {
    padding: 20px 20px;
    background: var(--chat-bottom-background)
}

.chat .item .bottom form {
    position: relative
}

.chat .item .bottom .form-control {
    padding: 16px 50px 15.5px 20px;
    height: 55px;
    resize: none;
    background: var(--chat-bottom-background);
    color: var(--plain-font-color)
}

.chat .item .bottom .form-control::-webkit-scrollbar {
    width: 0 !important
}

.chat .item .bottom .form-control {
    scrollbar-width: none
}

.chat .item .bottom .form-controly {
    -ms-overflow-style: none
}

.chat .item .bottom .prepend {
    padding: 0 15px;
    left: auto;
    right: 0;
    height: 100%;
    border: 0
}

.chat .item .bottom .prepend i::before {
    color: var(--icon-color);
    font-size: 20px;
    transition: all .2s ease;
    -moz-transition: .2s ease;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease
}

.chat .item .bottom .prepend:focus {
    border: 0
}

.chat .item .bottom .prepend:hover i::before {
    color: var(--navigation-active-icon)
}

.chat .item .bottom .prepend:active i::before {
    color: var(--navigation-active-icon)
}

.utility::-webkit-scrollbar {
    width: 0 !important
}

.utility {
    overflow: -moz-scrollbars-none
}

.utility {
    scrollbar-width: none
}

.utility {
    width: 336px;
    height: 100vh;
    background: var(--utils-background-color);
    overflow-y: auto;
    overflow-x: hidden
}

.utility .container {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.utility .close {
    margin-bottom: 30px;
    align-self: flex-end
}

.utility .close .eva {
    fill: var(--icon-color);
    width: 32px;
    height: 32px
}

.utility .profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    text-align: center
}

.utility h4,
h5 {
    color: var(--plain-font-color)
}

.utility .container::-webkit-scrollbar {
    width: 0 !important
}

.utility .container {
    overflow: -moz-scrollbars-none
}

.utility .container {
    -ms-overflow-style: none
}

.utility .profile img {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    margin: 30px 0
}

.utility .profile span {
    color: var(--form-input-font-color)
}

.utility .profile span.active {
    color: var(--active-radio-color)
}

.utility .attachment {
    width: 100%
}

.utility .attachment .headline {
    display: flex;
    margin-bottom: 15px
}

.utility .attachment .headline span {
    margin-right: auto;
    color: var(--plain-font-color)
}

.utility .attachment .headline .button {
    background: linear-gradient(146deg, var(--chat-self-message-gradient-color-1), var(--chat-self-message-gradient-color-2));
    border-radius: 50%;
    padding: 1px 6px
}

.utility .attachment .headline .button i::before {
    color: var(--white);
    margin: 0;
    font-size: 15px
}

.utility .attachment .headline input {
    display: none
}

.utility .attachment .headline label {
    cursor: pointer
}

.utility .attachment .media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.utility .attachment .media img {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    margin: 5px
}

.utility .attachment .media .file-media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 10px;
    margin: 5px
}

.utility .attachment .media .file-media:nth-of-type(odd) {
    background: linear-gradient(148deg, var(--chat-odd-message-gradient-color-1), var(--chat-odd-message-gradient-color-2))
}

.utility .attachment .media .file-media {
    background: linear-gradient(146deg, var(--chat-self-message-gradient-color-1), var(--chat-self-message-gradient-color-2))
}

.utility .attachment .media .file-media i::before {
    font-size: 25px;
    color: var(--white);
    margin: 0
}

@media (min-width:1300px) {
    .utility.active {
        display: flex;
        flex-direction: column;
        justify-content: flex-start
    }

    .utility {
        display: none
    }
}

@media (min-width:992px) {
    .chat {
        flex: 1;
        max-width: calc(100vw - 300px);
        height: 100vh;
        overflow: hidden
    }

    .chat .item .top ul>li:nth-child(2) {
        display: none
    }

    .chat .item .top ul>li:nth-child(3) {
        display: none
    }

    .chat .item .middle ul>li span {
        display: inline-block
    }

    .chat .item .middle ul>li.odd span {
        display: inline-block
    }

    .utility .close {
        display: none
    }
}

@media (max-width:991px) {
    .chat {
        position: fixed;
        width: 100%;
        left: 100%;
        top: 0;
        bottom: 0;
        z-index: 1020;
        visibility: hidden;
        transition-timing-function: ease-in-out;
        transition-duration: .3s;
        transition-property: left, visibility
    }

    .chat.open {
        visibility: visible;
        left: 0
    }

    .chat .item .top ul>li:nth-child(1) {
        display: none
    }

    .chat .item .top ul>li:nth-child(3) {
        display: none
    }

    .chat .item .top ul>li:nth-child(4) {
        display: none
    }

    .utility .attachment .headline {
        padding: 0 20px
    }

    .chat .item .top ul>li:nth-child(6) {
        display: block;
        margin-left: 15.67px
    }

    .chat .item .top ul>li .dropdown-menu .eva {
        margin: 10px
    }

    .chat .item .middle {
        height: calc(100vh - 220px);
    }


    .utility {
        position: fixed;
        width: 100%;
        left: 100%;
        top: 0;
        bottom: 0;
        z-index: 1020;
        visibility: hidden;
        transition-timing-function: ease-in-out;
        transition-duration: .3s;
        transition-property: left, visibility
    }

    .utility.active {
        visibility: visible;
        left: 0
    }

    .utility .close {
        display: block
    }
}