.modal-content {
    border: none;
    border-radius: 6px
}

.modal-header {
    align-items: center;
    padding: 25px 30px;
    background: var(--compose-body-nav-background);
    border-bottom: none
}

.modal-header h5 {
    font-weight: 600;
    color: var(--compose-header-color);
    margin-bottom: 0
}

.modal-header .round {
    padding: 0;
    background: #fff
}

.modal-header .round {
    padding: 0;
    background: rgba(255, 255, 255, .25)
}

.modal-header .round .eva {
    fill: #fff
}

.modal-body {
    padding: 0;
    background: var(--compose-body-nav-background)
}

.modal-body .nav {
    flex-wrap: nowrap;
    padding: 15px 30px;
    width: 100%;
    background: var(--compose-body-nav-background)
}

.modal-body .nav li {
    width: 100%;
    text-align: center
}

.modal-body .nav li .active {
    background: var(--compose-tab-background-color);
    color: var(--compose-tab-font-color)
}

.modal-body .nav li a {
    display: block;
    padding: 10px 0;
    color: var(--compose-link-color)
}

.modal-body .nav li+li {
    margin-left: 6px
}

.modal-body .nav li a {
    display: block;
    padding: 10px 0;
    color: var(--compose-link-color);
    border-radius: 6px
}

.modal-body .details {
    padding: 30px 30px 0
}

.modal-body .details label {
    color: var(--plain-font-color)
}

.modal-body .participants label {
    color: var(--plain-font-color)
}

.modal-body input.form-control {
    padding: 0 20px;
    height: 55px;
    color: var(--compose-input-font-color);
    background: var(--compose-input-background-color)
}

.modal-body .custom-file {
    margin-bottom: 30px
}

.modal-body .custom-file .custom-file-label {
    padding: 15px 20px;
    height: 55px;
    color: var(--compose-input-font-color);
    background: var(--compose-input-background-color);
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    border: none
}

.modal-body .custom-file .custom-file-label::after {
    height: calc(1.5em + 1.85rem);
    padding: .875rem .75rem;
    background: #21293c;
    color: var(--form-input-font-color);
    content: ""
}

.modal-body .participants {
    padding: 20px 30px 0
}

.modal-body .search {
    margin-bottom: 30px
}

.modal-body .search form {
    padding: 0;
    position: relative
}

.modal-body .search .form-control {
    padding: 0 10px 0 50px;
    height: 55px;
    background: var(--compose-input-background-color)
}

.modal-body .search .eva {
    fill: var(--compose-icon-color)
}

.modal-body h4 {
    font-weight: 600;
    margin-bottom: 0
}

.modal-body .users {
    flex-basis: 100%;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 200px
}

#create .modal-body .users::-webkit-scrollbar {
    background: var(--compose-scrollbar-color);
    width: 4px
}

#create .modal-body .users::-webkit-scrollbar-track {
    background: var(--compose-scrollbar-track-color)
}

#create .modal-body .users::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--compose-scrollbar-thumb-color)
}

.modal-body .users>li {
    display: flex;
    align-items: center;
    padding: 25px 0;
    margin-left: 15px;
    margin-right: 15px
}

.status {
    position: relative;
    margin-right: 15px
}

.users>li img {
    width: 42px;
    height: 42px;
    border-radius: 100%
}

.users>li .content {
    flex-basis: 100%
}

#create .modal-body .contacts {
    flex-basis: 100%;
    list-style: none;
    max-height: 200px;
    margin: 5px 10px 5px 10px;
    background: 0 0;
    overflow-y: scroll
}

#create .modal-body .contacts::-webkit-scrollbar {
    background: var(--compose-scrollbar-color);
    width: 4px
}

#create .modal-body .contacts::-webkit-scrollbar-track {
    background: var(--compose-scrollbar-track-color)
}

#create .modal-body .contacts::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--compose-scrollbar-thumb-color)
}

#create .modal-body .contacts>a {
    display: flex;
    align-items: center;
    padding: 25px 10px;
    cursor: pointer;
    background: 0 0;
    border: none
}

#create .modal-body .contacts>a:hover {
    background: var(--compose-contacts-hover-background-color)
}

#create .modal-body .contacts-footer {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 10px;
    padding: 15px 15px;
    background: var(--compose-tab-background-color);
    border-radius: 5px
}

#create .modal-body .contacts-footer a {
    padding: 5px;
    border-radius: 3px
}

#create .modal-body .contacts-footer a:nth-child(1) {
    margin-right: auto
}

#create .modal-body .contacts-footer a:nth-child(2) {
    justify-self: flex-end
}

#create .modal-body .contacts-footer a:hover {
    color: #fff;
    background: rgba(255, 255, 255, .07)
}

#create .modal-body .contacts-footer a:focus {
    border: none
}

.contacts>a img {
    width: 42px;
    height: 42px;
    border-radius: 100%
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: var(--compose-tab-background-color);
    background-color: var(--compose-tab-background-color)
}

.modal-body .custom-control-label::before {
    background: #f5f5f5;
    box-shadow: none !important;
    border: none;
    outline: 0
}

.modal-body .form-group button {
    padding: 14px 0;
    display: block;
    width: 100%;
    background: var(--compose-submit-button-color);
    border-radius: 6px;
    color: var(--compose-tab-font-color)
}

.modal-body .form-group button.btn:hover {
    background: var(--compose-submit-button-color)
}

.modal-body .form-group button.btn:focus {
    background: var(--compose-submit-button-color);
    box-shadow: none
}

.modal-body .form-group button.btn:active {
    background-color: var(--compose-submit-button-color);
    box-shadow: none
}

#create .btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--compose-submit-button-color);
    border-color: var(--compose-submit-button-color)
}

#create .modal-body .btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 .2rem var(--compose-submit-button-color)
}

.modal-footer {
    padding: 30px;
    background: var(--compose-body-nav-background);
    border: none
}

.modal+.modal {
    background: var(--auth-modal-background-color);
    overflow-y: auto;
    padding-top: 50px
}

.modal+.modal::-webkit-scrollbar {
    width: 0 !important
}

.modal+.modal {
    overflow: -moz-scrollbars-none
}

.modal+.modal {
    -ms-overflow-style: none
}

.modal.active {
    display: block;
    opacity: 1
}

.modal+.modal .modal-content {
    background: var(--auth-background-color);
    box-shadow: var(--auth-box-shadow)
}

.modal+.modal .modal-header h4 {
    color: var(--auth-header-font-color);
    width: 100%;
    text-align: center
}

.modal+.modal .modal-header h4 i:before {
    margin: 0;
    font-size: 60px;
    color: var(--auth-input-font-color)
}

.modal+.modal .modal-body label {
    color: var(--auth-input-font-color)
}

.modal+.modal .modal-body .form-control {
    background: var(--auth-input-background-color);
    border: 1px solid var(--auth-input-font-color)
}

.modal+.modal .modal-body .form-control:focus {
    border: 1px solid var(--auth-input-active-border-color)
}

.modal+.modal .modal-body,
.modal+.modal .modal-footer,
.modal+.modal .modal-header {
    background: var(--auth-background-color)
}

.modal+.modal .modal-footer {
    flex-direction: column
}

.modal+.modal .modal-footer .switch-form {
    margin-top: 30px
}

.modal+.modal .modal-footer .switch-form small {
    color: var(--auth-input-font-color)
}

.modal+.modal .modal-footer .switch-form small a {
    color: var(--auth-switch-modal-font-color)
}

.modal+.modal .modal-footer button {
    background: var(--auth-submit-button-color);
    border: 1px solid var(--auth-submit-button-border-color);
    color: var(--auth-submit-font-color);
    padding: 10px 50px;
    border-radius: 5px;
    transition: all .3s;
    box-shadow: none
}

.modal+.modal .modal-footer button:hover {
    background: var(--auth-active-submit-button-color);
    color: var(--auth-active-submit-button-font-color);
    border: 1px solid var(--auth-active-submit-button-border-color)
}

.modal+.modal .modal-footer button:focus {
    background: 0 0;
    border: 1px solid var(--auth-active-submit-button-border-color);
    box-shadow: none
}

.modal+.modal .modal-footer button:active {
    outline: 0;
    border: 1px solid var(--auth-active-submit-button-color);
    color: var(--auth-active-submit-button-font-color);
    background: var(--auth-input-active-border-color);
    box-shadow: none
}

.modal+.modal .modal-footer button:active:focus {
    outline: 0;
    border: 1px solid var(--compose-active-submit-button-border-color-2);
    color: var(--auth-active-submit-button-font-color);
    background: var(--compose-active-submit-button-color-2);
    box-shadow: none
}

form .form-group.error .form-control {
    border: 1px solid var(--danger);
    color: var(--danger)
}

form .form-group.error .error-message {
    color: var(--danger)
}

form .form-group.error label {
    color: var(--danger)
}

#Created .modal-body {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center
}

#Created .modal-body i {
    margin-bottom: 20px
}

#Created .modal-body i:before {
    margin: 0;
    font-size: 60px;
    color: var(--success)
}

#Created .modal-body small {
    color: var(--plain-font-color)
}

#Created .modal-body a {
    color: var(--info)
}

@media (max-width:991px) {
    .modal+.modal {
        background-color: var(--auth-mobile-modal-background-color)
    }

    .modal+.modal .modal-content {
        box-shadow: none
    }
}