/* apply for all screens */
.loader {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2000;
    justify-content: center;
    align-items: center;
    background: var(--chat-top-background);
}

.loader i {
}

.loader .m-spinner--swirl {
    width: 170px;
    height: 170px;
    color: var(--compose-active-submit-button-color-2);
    max-width: unset;
    max-height: unset;
}

.loader.active {
    display: flex;
}

.b-preloader {
    width: 100%;
    height: 100%;
    background: var(--b-preloader-background-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 2000;
}

.b-preloader img {
    display: none;
    opacity: 0;
}

.b-preloader .progress {
    width: 50%;
    margin-top: 50px;
    background: var(--b-preloader-progress-background-color);
}

.b-preloader .progress .progress-bar {
    background: linear-gradient(90deg, var(--b-preloader-progress-bar-background-color-1), var(--b-preloader-progress-bar-background-color-2));
    transition: none;
}

.b-preloader a {
    color: var(--mute-font-color);
    background: var(--b-preloader-attribute-background-color);
    padding: 10px;
    border-radius: 20px;
    position: fixed;
    top: 900px;
}



/* apply for a 992px screen and above */
@media (min-width: 992px) {
}


/* apply for a 991px screen and below */
@media (max-width: 991px) {
}