/* apply for all screens */
.loader {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2000;
    justify-content: center;
    align-items: center;
    background: var(--chat-top-background);
}

.loader i {
}

.loader .m-spinner--swirl {
    width: 170px;
    height: 170px;
    color: var(--purple);
    max-width: unset;
    max-height: unset;
}

.loader.active {
    display: flex;
}

/* apply for a 992px screen and above */
@media (min-width: 992px) {
}


/* apply for a 991px screen and below */
@media (max-width: 991px) {
}