:root {
    --link-color: #fff;
    --icon-color: #bdbac2;
    --b-preloader-background-color: #111620;
    --b-preloader-progress-background-color: #111620;
    --b-preloader-progress-bar-background-color-1: #f7305d;
    --b-preloader-progress-bar-background-color-2: #8725c7;
    --b-preloader-attribute-background-color: #1a202f;
    --active-radio-color: #00f890;
    --active-link-color: #8725c7;
    --navigation-background: #111620;
    --navigation-circle-box-shadow: #4e182e;
    --navigation-active-icon: #f6305e;
    --sidebar-background-color: #1a202f;
    --sidebar-discussion-chat-color: #171d2a;
    --sidebar-active-chat-gradient-color-1: #f6305e;
    --sidebar-active-chat-gradient-color-2: #8725c7;
    --sidebar-friend-color: #171d2a;
    --sidebar-friend-icon-color: #8725c7;
    --sidebar-notifications-color: #171d2a;
    --sidebar-notifications-icon-color: #8725c7;
    --sidebar-settings-highlight-color: #8725c7;
    --sidebar-mobile-menu-icon-color: #4f608a;
    --sidebar-mobile-menu-background: #1a202f;
    --sidebar-mobile-menu-font-color: #fff;
    --sidebar-mobile-menu-icons-color: #fff;
    --search-form-input-background-color: #141a28;
    --search-form-input-font-color: #4f608a;
    --search-form-input-hover-color: #efebeb;
    --search-form-input-border-color: #f5f5f5;
    --form-input-background-color: #21293c;
    --form-input-font-color: #4f608a;
    --form-input-border: #efebeb;
    --form-input-hover: #f5f5f5;
    --form-input-focus-color: #8725c7;
    --checked-input-color: #8725c7;
    --submit-button-color: #8725c7;
    --hr-border-color: #fbfbfb;
    --chat-top-background: #141a28;
    --chat-background-color: #1a202f;
    --chat-bottom-background: #161c2a;
    --chat-border-color: #f9f9f9;
    --chat-top-icon-color: #7b8ebc;
    --chat-odd-message-gradient-color-1: #ff9b5d;
    --chat-odd-message-gradient-color-2: #fe3b56;
    --chat-self-message-gradient-color-1: #f7305d;
    --chat-self-message-gradient-color-2: #8324ca;
    --chat-message-font-color: #ffffff;
    --utils-background-color: #111620;
    --compose-header-background: #f6305e;
    --compose-body-nav-background: #1a202f;
    --compose-active-color: #007bff;
    --compose-link-color: #bdbac2;
    --compose-icon-color: #bdbac2;
    --compose-font-color: #212529;
    --compose-mute-font-color: #bdbac2;
    --compose-input-background-color: #21293c;
    --compose-input-font-color: #fff;
    --compose-header-color: #fff;
    --compose-tab-background-color: #f6305e;
    --compose-tab-font-color: #fff;
    --compose-submit-button-color: #f6305e;
    --compose-submit-button-color-2: transparent;
    --compose-submit-button-border-color-2: #21293c;
    --compose-active-submit-button-color-2: #8725c7;
    --compose-active-submit-button-border-color-2: #8725c7;
    --compose-active-submit-button-color: #f6305e;
    --compose-input-background-color-2: transparent;
    --compose-active-input-border-color: #8725c7;
    --compose-contacts-hover-background-color: #21283a;
    --auth-modal-background-color: #1a202f;
    --auth-background-color: #111620;
    --auth-box-shadow: none;
    --auth-header-font-color: #fff;
    --auth-input-font-color: #4f608a;
    --auth-input-background-color: transparent;
    --auth-input-active-border-color: #8725c7;
    --auth-switch-modal-font-color: #8725c7;
    --auth-submit-button-color: #111620;
    --auth-submit-button-border-color: #4f608a;
    --auth-submit-font-color: #fff;
    --auth-active-submit-button-color: #8725c7;
    --auth-active-submit-button-font-color: #fff;
    --auth-active-submit-button-border-color: #8725c7;
    --auth-mobile-modal-background-color: #111620;
    --chat-scrollbar-track-color: #111620;
    --chat-scrollbar-thumb-color: #f6305e;
    --chat-scrollbar-color: transparent;
    --compose-scrollbar-track-color: transparent;
    --compose-scrollbar-thumb-color: #f6305e;
    --compose-scrollbar-color: transparent;
    --plain-font-color: #ffffff;
    --mute-font-color: #76839f;
    --white: #fff;
    --rose: #f6305e;
    --purple: #8725c7;
    --Inter-UI-Bold: 'inter-UI-Bold', sans-serif;
    --Inter-UI-Medium: 'inter-UI-Medium', sans- serif;
    --Inter-UI-Regular: 'inter-UI-Regular', sans-serif;
    --Inter-UI-SemiBold: 'inter-UI-SemiBold', sans-serif
}

::selection {
    background: 0 0;
    color: none
}

::-moz-selection {
    color: none;
    background: 0 0
}

.round {
    display: inline-block;
    padding: 0;
    width: 42px;
    height: 42px;
    background: #f5f5f5;
    text-align: center;
    border-radius: 100%
}

.round .eva {
    width: 20px;
    height: 20px
}

.button {
    background: 0 0;
    border: none;
    padding: 0 16px
}

.form-group {
    flex-grow: 1;
    position: relative;
    margin-bottom: 30px
}

.form-group>label {
    margin-bottom: 10px
}

.prepend {
    position: absolute;
    padding: 15px 0 0 15px;
    top: 0;
    left: 0;
    line-height: 0;
    margin-bottom: 0 !important
}

.alert p {
    color: inherit
}

body {
    font-family: var(--Inter-UI-Regular);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.7
}

body::-webkit-scrollbar {
    width: 0 !important
}

body {
    overflow: -moz-scrollbars-none
}

body {
    -ms-overflow-style: none
}

a {
    color: var(--link-color);
    transition: all .3s ease;
    text-decoration: none
}

a:hover {
    color: inherit;
    text-decoration: none
}

hr {
    margin: 30px 0;
    border-top: 2px solid var(--hr-border-color)
}

p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7;
    color: var(--plain-font-color);
    margin-bottom: 0
}

ul {
    list-style: none;
    padding: 0
}

button:focus {
    box-shadow: none;
    outline: 0;
    border: none
}

label {
    display: inline-block
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--plain-font-color);
    letter-spacing: .05em
}

span {
    color: var(--mute-font-color);
    font-weight: 500;
    font-size: 15px
}

.btn:focus {
    background: 0 0;
    border: none;
    outline: 0;
    box-shadow: none;
    transition: all .3s
}

.btn:active,
.btn:focus {
    border: none;
    outline: 0;
    box-shadow: none
}

.form-control {
    background: var(--form-input-background-color);
    color: var(--form-input-font-color);
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    border: none
}

.custom-file {
    margin-bottom: 30px
}

.custom-file .custom-file-label {
    padding: 15px 20px;
    height: 55px;
    color: var(--form-input-font-color);
    background: var(--form-input-background-color);
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    border: none;
    cursor: pointer
}

.custom-file .custom-file-label::after {
    height: calc(1.5em + 1.85rem);
    padding: .875rem .75rem;
    background: #21293c;
    color: var(--form-input-font-color);
    content: " ";
    display: none
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: ""
}

.form-control:focus {
    box-shadow: none;
    background: var(--form-input-background-color)
}

.form-control::-webkit-input-placeholder {
    color: var(--form-input-font-color)
}

.form-control:-moz-placeholder {
    color: var(--form-input-font-color)
}

.primary {
    display: inline-block;
    padding: 9px 0;
    width: 100%;
    background: #007bff;
    font-weight: 600;
    line-height: 1.7;
    color: #fff;
    text-align: center;
    border-radius: 6px
}


.dropdown-menu {
    padding: 10px;
    border: none;
    box-shadow: 0 0 30px rgba(0, 0, 0, .05);
    border-radius: 6px
}

.dropdown-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 9px 10px;
    font-weight: 500;
    color: #bdbac2;
    border-radius: 6px
}

.dropdown-item:focus, .dropdown-item:hover {
    background:var(--navigation-active-icon);
}

@media (min-width:992px) {
    .container {
        padding-right: 30px;
        padding-left: 30px
    }
}

@font-face {
    font-family: inter-UI-Bold;
    src: url(../fonts/Inter-UI-Bold.woff2) format("woff")
}

@font-face {
    font-family: inter-UI-Medium;
    src: url(../fonts/Inter-UI-Medium.woff2) format("woff")
}

@font-face {
    font-family: inter-UI-Regular;
    src: url(../fonts/Inter-UI-Regular.woff2) format("woff")
}

@font-face {
    font-family: inter-UI-SemiBold;
    src: url(../fonts/Inter-UI-SemiBold.woff2) format("woff")
}