/*
    *****Navigation*****
*/


/* apply for all screens */

.navigation {
    background: var(--navigation-background);
}

.navigation .container {
}

/* remove scrollbar chrome*/
.navigation .container::-webkit-scrollbar {
    width: 0 !important
}

/* remove scrollbar firefox */
.navigation .container {
    overflow: -moz-scrollbars-none;
}

/* remove scroll IE +10 */
.navigation .container {
    scrollbar-width: none;
}


/* site logo*/
.navigation .logo {
}

.navigation .logo img {
    width: 50px;
    height: 50px;
}

/* site nav links */
.navigation ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.navigation ul > li > a {
    display: block;
}

.navigation ul > li > a.active .eva {
    fill: var(--active-link-color);
}


/*.navigation ul>li>a .eva{
    width: 36px;
    height: 36px;
    fill:var(--icon-color);
    transition: all 0.3s ease;
}*/

.navigation ul > li > a i::before {
    font-size: 30px;
    color: var(--icon-color);
    transition: all 0.3s ease;
    margin: 0;
}

.navigation ul > li > a:hover i::before {
    color: var(--rose);
}

.navigation ul > li > a.active i::before {
    color: var(--rose);
}


/*.navigation ul>li>a:hover .eva{
    fill:var(--active-link-color);
}*/

.navigation .btn {
    display: inline-block;
    position: relative;
    /**/
    padding: 0;
}

.navigation .btn:focus {
    outline: none;
    box-shadow: none;
}


.navigation img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.navigation .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation .circle-status {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 51px;
    box-shadow: 0 2px 12px #4e182e, 2px 0 12px #4E182E, -2px 0 12px #4e182e, 0 -2px 12px #4e182e;
}


/* apply for a 992px screen and above */

@media (min-width: 992px) {
    .navigation {
        width: 100px;
    }

    /*.navigation ul > li > a.active {
        background: var(--sidebar-background-color);
        padding: 15px;
    }*/

    .navigation .container {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        height: 100vh;
        text-align: center;
        overflow-y: auto;
        /* make the navigation scrollable this is the default value */
        overflow-x: hidden;
    }

    .navigation ul {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: auto;
        flex-shrink: 0;
    }

    /*
        the style applies to every li directly following another li
        and yes you can accomplish the same with li:not(:first-child)
    */
    .navigation ul > li + li {
        margin-top: 30px;
        /* add vertical a space between nav links except the first link*/
    }

    .navigation ul > li:nth-child(1) {
        margin-bottom: 25px;
    }

    .navigation ul > li:nth-child(5) {
        flex-grow: 1;
    }

    .nav-wrap {
    }

    .navigation ul > li > a {
        text-align: center;
    }
}


/* apply  for a 991px screen and below */
@media (max-width: 991px) {
    .navigation {
        order: 2;
        /* used to set order of a flex item, send navigation to bottom */
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1000;
    }

    .navigation .logo {
        display: none;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 0;
    }

    .navigation ul > li:nth-child(1) {
        display: none;
    }

    .navigation ul > li:nth-child(6) {
        display: none;
    }

    .navigation ul > li:nth-child(7) {
    }
}