.navigation {
    background: var(--navigation-background)
}

.navigation .container::-webkit-scrollbar {
    width: 0 !important
}

.navigation .container {
    overflow: -moz-scrollbars-none
}

.navigation .container {
    scrollbar-width: none
}

.navigation .logo img {
    width: 50px;
    height: 50px
}

.navigation ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0
}

.navigation ul>li>a {
    display: block
}

.navigation ul>li>a.active .eva {
    fill: var(--active-link-color)
}

.navigation ul>li>a i::before {
    font-size: 30px;
    color: var(--icon-color);
    transition: all .3s ease;
    margin: 0
}

.navigation ul>li>a:hover i::before {
    color: var(--navigation-active-icon)
}

.navigation ul>li>a.active i::before {
    color: var(--navigation-active-icon)
}

.navigation .btn {
    display: inline-block;
    position: relative;
    padding: 0
}

.navigation .btn:focus {
    outline: 0;
    box-shadow: none
}

.navigation img {
    width: 50px;
    height: 50px;
    border-radius: 100%
}

.navigation .profile-container {
    display: flex;
    justify-content: center;
    align-items: center
}

.navigation .circle-status {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 51px;
    box-shadow: 0 2px 12px var(--navigation-circle-box-shadow), 2px 0 12px var(--navigation-circle-box-shadow), -2px 0 12px var(--navigation-circle-box-shadow), 0 -2px 12px var(--navigation-circle-box-shadow)
}

@media (min-width:992px) {
    .navigation {
        width: 100px
    }

    .navigation .container {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        height: 100vh;
        text-align: center;
        overflow-y: auto;
        overflow-x: hidden
    }

    .navigation ul {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: auto;
        flex-shrink: 0
    }

    .navigation ul>li+li {
        margin-top: 30px
    }

    .navigation ul>li:nth-child(1) {
        margin-bottom: 25px
    }

    .navigation ul>li:nth-child(5) {
        flex-grow: 1
    }

    .navigation ul>li>a {
        text-align: center
    }
}

@media (max-width:991px) {
    .navigation {
        order: 2;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1000
    }

    .navigation .logo {
        display: none
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 0
    }

    .navigation ul>li:nth-child(1) {
        display: none
    }

    .navigation ul>li:nth-child(6) {
        display: none
    }

    .navigation ul>li:nth-child(7) {
        display: none
    }
}